{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Receipt Organizer</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Upload Receipt</h5>
                <form method="POST" enctype="multipart/form-data" action="/app">
                    <div class="mb-3">
                        <label for="file" class="form-label">Select Receipt Image:</label>
                        <input type="file" class="form-control" id="file" name="file" accept="*" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Filter Receipts by Date</h5>
                <form class="row g-3" method="GET" action="/app">
                    <div class="col-md-6">
                        <label for="start_date" class="form-label">Start Date:</label>
                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
                    </div>
                    <div class="col-md-6">
                        <label for="end_date" class="form-label">End Date:</label>
                        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary">Apply Filter</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Uploaded Receipts</h5>
                {{ table.__html__() | safe }}
                <div class="text-center">
                    <a href="{{ url_for('download_table') }}" class="btn btn-primary">Download</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function confirmDelete(receiptId) {
            return confirm('Are you sure you want to delete receipt ID ' + receiptId + '?');
        }
    </script>
{% endblock %}